.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e4ebf2;

}

.signup-form-layout {
    width: 40%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}

.signup-heading {
    margin-bottom: 15%;

}
input{
    width: 80%;
    height: 25px;
}
button{
    width: 82%;
    height: 28px;
    background-color:#007bff;
    color: white;
    font-size:medium
}