.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.forget-form-layout {
    width: 40%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}
