.Dashboard {
    /* flex: 4; */
    display: flex;
    /* background-color:  #fff; */
    /* background-color:  rgb(187, 205, 181); */
    /* height: 100; */
}
/* .container{
    flex-direction: row;

}

.graph{
    margin-top: 150px;
} */
.button-group {
    display: flex;
    justify-content:space-around;
    width: 100%;
    /* margin-left: 40%; */
    margin-bottom:50px;
    margin-top:10px;
}
.button{
    /* height: 35px; */
    /* width: 80px; */
    padding: 0%;
    margin-left: 50px;
    background-color: rgb(51, 51, 242);
    /* background-color:  #20c997; */

    color: white;
}
.left1{
    margin-left: 14px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 1050px;
    margin-top: 20px;
    /* padding: 2px; */
}
.right1{
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    /* margin-top: 10px; */
}
.button1{
    /* height: 35px; */
    width: 250px;
    padding: 0%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(94, 196, 230);
    color: white;
}
.button2{
    /* height: 35px; */
    width: 250px;
    padding: 0%;
    margin-left: 50px;
    /* margin-right: 150px; */
    background-color: rgb(94, 196, 230);
    color: white;
}
.button3{
    /* height: 35px; */
    width: 250px;
    padding: 0%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(94, 196, 230);
    color: white;
}

.container{
    /* display: flex; */
    /* flex-direction: column */
}
.flexLeft{
    flex: 1;
}
.flexRight{
    flex: 4;
}